<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Restaurants</title>
</head>
<body>
  <h1>Restaurants as of <%= time %></h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } %>
  <ul>
    <% restaurants.forEach(function(restaurants) { %>
      <li>
        <form
          action="/restaurants/<%= restaurants._id %>?_method=DELETE"
          class="delete-form"
          method="POST"  
        >
          <button type="submit">X</button>
        </form>
        <a href="/restaurants/<%= restaurants._id %>"><%= restaurants.name %></a>
          -
          <%= restaurants.type %>
          - 
        <%= restaurants.done ? 'done' : 'not done' %>
      </li>
    <% }) %>
  </ul>
  <a href="/restaurants/new">+ Add Restaurant</a>
</body>
</html>